@font-face {
    font-family: 'stawp';
    src: url(WhyteInktrap-Book.woff2);
}

@font-face {
    font-family: 'yass';
    src: url(nm5.woff2);
}

@font-face {
    font-family: 'lulu';
    src: url(u4.woff2);
}